//Viento CSS animation library by Austin Jackson


//Boilerplate important stuff
.hidden {
    visibility: hidden;
}

@keyframes v-fadeIn {
    
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
    
}